<% last_14 = @biometrics.reverse[0..13] %>
<script>

  function addBiometric(biometric) {

    $('#biometric_form_row').after("<tr><td>" + formatDate(biometric["record_date"]) +
         "</td><td>" + blankIfNull(biometric["weight"]) +
         "</td><td>" + blankIfNull(biometric["systolic"]) +
         "</td><td>" + blankIfNull(biometric["diastolic"]) +
         "</td><td>" + blankIfNull(biometric["bpm"]) +
         "</td><td><a href='/biometrics/" + biometric["id"] + "'>edit</a>" +

         "</td></tr>");
  }

  function clearBiometricForm() {
    $('#biometric_weight').val('');
    $('#biometric_systolic').val('');
    $('#biometric_diastolic').val('');
    $('#biometric_bpm').val('');
  }

  $(document).ready(function() {
    $('#biometric_button').bind('click', function () { 
        $('#biometric_button').attr('disabled', true);
        $.post("/biometrics", $("#new_biometric").serialize(),function(data){
           $('#biometric_button').attr('disabled', false);
           addBiometric(data['biometric']);
           clearBiometricForm();
          }, "json");
        return false;
       });
  });

</script>
<%= form_for @biometric  do |f| %>

<table class="biometric_data">
  <tr>
    <td>Date</td>
    <td>Weight</td>
    <td>Systolic</td>
    <td>Diastolic</td>
    <td>BPM</td>
    <td></td>
  </tr>
  <tr id="biometric_form_row">
  <% if @biometric.record_date.nil? %>
    <td><%= f.text_field :record_date, :value => "now" %></td>
  <% else %>
    <td><%= f.text_field :record_date, :value => @biometric.record_date.to_date %></td>
  <% end %>
    <td><%= f.text_field :weight, :maxlength => 5 %></td>
    <td><%= f.text_field :systolic, :maxlength => 5 %></td>
    <td><%= f.text_field :diastolic, :maxlength => 5 %></td>
    <td><%= f.text_field :bpm, :maxlength => 5 %></td>
    <td><%= f.submit "Record", :id => "biometric_button" %></td>
  </tr>
<% last_14.each do |b| %>
  <% unless b.new_record? %>
  <tr>
    <td><%= pretty_date b.record_date %></td>
    <td><%= b.weight %></td>
    <td><%= b.systolic %></td>
    <td><%= b.diastolic %></td>
    <td><%= b.bpm %></td>
    <td><%= link_to "edit", b %></td>
  </tr>
  <% end %>
<% end %>
</table>
<% end %>
<p>
download as <a href="/biometrics/all.csv">CSV</a>
or <a href="/biometrics/all.xml">XML</a>.
