<!DOCTYPE html>
<html>
<head>
  <title>Waiter</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "layout" %>
  <%= stylesheet_link_tag "cupertino/jquery-ui-1.8.4.custom" %>
  <%= javascript_include_tag "jquery-1.4.2.min" %>
  <%= javascript_include_tag "jquery-ui-1.8.4.custom.min" %>
  <%= javascript_include_tag "jquery.flot" %>
  <%= javascript_include_tag "helpers" %>
 <%= csrf_meta_tag %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4000969-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="wrap">
  <div id="main">
  <div id="header">
    <div id="sitename">
      <%= link_to "Waiter", root_url() %>
    </div>
    <div id="menu">
      <div class="menuitem">
        <% if user_signed_in?  %>
          Signed in as <%= current_user.email %>. Not you?
          <%= link_to "Sign out", destroy_user_session_path %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="content" >
  <div id="notifications">
    <% logger.debug("notice is #{notice} - #{notice.inspect}") %>
    <%= render "common/notifications", :messages => notice, :type => "notice"  %>
    <%= render "common/notifications", :messages => alert, :type => "alert"  %>

  </div>
  <%= yield %>
  </div>
</div><div id="footer">
  <div id="copyright">
    &copy;<a href="http://erik.debill.org">Erik DeBill</a>, <%= copyright_years 2010 %>
  </div>
</div>
</body>
</html>
